#wrapper{

		margin:auto;
		width: 750px;
		height:450px;
		background-color:#9932cc;

}
#change-colour {

		width: 260px;
		height:80px;
		padding: 20px;
		border-radius:22px;
	    border-style:none; /*  This removes shadow from the button */
		background-color:#000;
		font-size: 20px;
		margin-top: 60px;
		margin-left: 470px;
		color:#fff;
}

h1 {

		text-align: center;
		padding-top: 145px;
		color:#fff;

}